@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* responsive-map-container.module.css */

.responsive-map-container {
  height: 600px;
  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
  background-color: #fafafa;
  padding: 20px;
  box-sizing: border-box;
  max-width: 100%;
}

@media (max-width: 768px) {
  .responsive-map-container {
    width: 100%;
  }
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  left: 0%;
  font-size: 0.8rem;
  position: absolute;
  z-index: 1;
  top: -160%;
}
.tooltip .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
